<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rescueplatform_backend.mapper.SeekhelpPostMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rescueplatform_backend.entity.SeekhelpPost">
        <id column="id" property="id" />
        <result column="posx" property="posx" />
        <result column="posy" property="posy" />
        <result column="phone" property="phone" />
        <result column="name" property="name" />
        <result column="discription" property="discription" />
        <result column="views" property="views" />
        <result column="safed" property="safed" />
        <result column="checked" property="checked" />
        <result column="people" property="people" />
        <result column="child" property="child" />
        <result column="old" property="old" />
        <result column="province" property="province" />
        <result column="city" property="city" />
        <result column="district" property="district" />
        <result column="createtime" property="createtime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, posx, posy, phone, name, discription, views, safed, checked, people, child, old, province, city, district, createtime
    </sql>

    <!--分页获取所有求助-->
    <select id="getSeekPage" resultMap="BaseResultMap">
    select
    s.*
    from
    t_seekhelp_post s
        <where>
            <if test="seekhelpPost.name != null and seekhelpPost.name != ''">
                and s.`name` LIKE CONCAT('%',#{seekhelpPost.name},'%')
            </if>
            <if test="seekhelpPost.province != null and seekhelpPost.province != ''">
                and s.`province` LIKE CONCAT('%',#{seekhelpPost.province},'%')
            </if>
            <if test="seekhelpPost.city != null and seekhelpPost.city != ''">
                and s.`city` LIKE CONCAT('%',#{seekhelpPost.city},'%')
            </if>
            <if test="seekhelpPost.checked != null and seekhelpPost.checked != ''">
                and s.checked = #{seekhelpPost.checked}
            </if>
            <if test="seekhelpPost.safed != null and seekhelpPost.safed != ''">
                and s.safed = #{seekhelpPost.safed}
            </if>
        </where>
    order by s.id desc
    </select>

    <!--导出求助表格-->
    <select id="getSKList" parameterType="integer" resultMap="BaseResultMap">
        SELECT
        sh.*
        FROM
        t_seekhelp_post sh
        <if test="id != null and id > 0">
            AND sh.id = #{id}
        </if>
    </select>

</mapper>
